@charset="utf-8";
/* ------------ Reset --------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:1em; font-weight:normal;}

html{
    background:#248aff;
}

body{
    font-size:0.75em; /*1em = 12px*/
    margin:1.5em auto;
    width:82.5em;
    line-height:1.5em;
    font-family:"Verdana", sans-serif; text-align:center;
}
ol, ul{padding-left:3em;}

/*Uncoment this line to show the grid*/
/* body{background-image:url("../images/guide.png")} body>*{opacity:0.8} */

/*------------------------ Header ---------------------------------*/
#header{
    background:#7cb9ff;
}
    #header h1{
        font-size:3em; /*1em = 36px;*/
        line-height:2em;
    }

/*----------------------- Content ---------------------------------*/
#content{
    padding:1.5em;
    text-align:left;
    background:#cceeff;
    border:1.5em solid #7cb9ff; border-width:0 1.5em;
}
    #content h2{
        font-size:1.5em; /*1em = 18px*/
        line-height:1.75em;
        border-bottom:0.25em solid #000000;
    }
    #gameContainer{
        padding:1.5em;
        background:#FFEA00;
    }
        #gameContainer h2{margin-bottom:1.5em;}
        #game{
            font-size:32px; /*1em = 32px - this becomes the size of the game's grid*/
            margin:auto;
            position:relative;
            width:20em; height:15em; overflow:hidden;
            line-height:1em; color:#ffffff;
            background:#000000;
            border:1px solid black;
        }
            #game .gameWorld{
                position:absolute; top:0; left:0;
            }
                #game .layer{
                    position:absolute; top:0; left:0;
                    width:100%; height:100%; /*Layers get the same dimensions as the world*/
                }
                    #game .block{
                        position:absolute; z-index:75;
                        display:block; width:1em; height:1em;
                        background:#000000;
                    }
                    #game .box{
                        position:absolute; z-index:10;
                        display:block; width:0.5em; height:0.5em;
                        border:0.25em solid #eebb00;
                        background:#ff0000;
                    }
                    #game .player{
                        position:absolute; z-index:25;
                        display:block; width:1em; height:1em;
                    }
                        #game .player img{
                            display:block;
                            border:none;
                        }
                    #game .hazard{
                        position:absolute; z-index:5;
                        display:block; width:1em; height:1em;
                        background:url("../images/characterSprites/red.gif");
                    }
                    #game .telehazard{
                        position:absolute; z-index:5;
                        display:block; width:1em; height:1em;
                        background:url("../images/characterSprites/yellow.gif");
                    }
                    #game .goal{
                        position:absolute; z-index:0;
                        display:block; width:1em; height:1em;
                        text-align:center; color:#ff0000;
                        background:#B686DE;
                    }
    #controls{
        margin-top:1.5em; padding:1.5em;
        background:#ffffff;
    }

/*---------------------- Footer ----------------------------------*/
#footer{
    background:#7cb9ff;
}

